<%- include('topbar.ejs') %>
<!-- daterange picker -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Registered Car</h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"></h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="daterange_start" autocomplete="off"
                                    placeholder="From">
                                <input type="text" class="form-control" name="daterange_end" autocomplete="off"
                                    placeholder="To">
                                <input type="hidden" name="start_date">
                                <input type="hidden" name="end_date">
                                <div class="input-group-append">
                                    <button class="btn btn-success search_transaction_btn" type="button">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Plate No</th>
                                    <th>Model</th>
                                    <th>Insurance Exp Date</th>
                                    <th>Customer Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Plate No</th>
                                    <th>Model</th>
                                    <th>Insurance Exp Date</th>
                                    <th>Customer Name</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2020</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<!-- <script src="js/demo/datatables-demo.js"></script> -->

</body>

</html>

<!-- daterange picker -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>
    var car_list = <%- JSON.stringify(car_list) %>;
    console.log(car_list)

    var init_date = moment(new Date());
    init_date = init_date.format('2017-01-01 00:00:00')
    var now = moment(new Date());
    var aMinDate = new Date()

    $('input[name="daterange_start"]').daterangepicker({
        autoUpdateInput: false,
        autoApply: true,
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            cancelLabel: 'Clear',
            format: "DD-MMM-YYYY"
        }
    });

    $('input[name="daterange_start"]').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format('DD-MMM-YYYY'));
        $('input[name="start_date"]').val(picker.startDate.format('YYYY-MM-DD 00:00:00'));

        aMinDate = new Date(Date.parse(picker.startDate.format('YYYY-MM-DD 00:00:00')));
        $('input[name="daterange_end"]').val('')
        $('input[name="end_date"]').val('')
    });

    $('input[name="daterange_end"]').daterangepicker({
        autoUpdateInput: false,
        autoApply: true,
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            cancelLabel: 'Clear',
            format: "DD-MMM-YYYY"
        }
    });

    $('input[name="daterange_end"]').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format('DD-MMM-YYYY'));
        $(this).val(picker.startDate.format('DD-MMM-YYYY'));
        $('input[name="end_date"]').val(picker.startDate.format('YYYY-MM-DD 23:59:59'));
    });

    updateTable(updateJSON(car_list, '', ''));

    car_JSON = new Array()
    function updateJSON(car_list, start_date, end_date) {
        car_JSON = new Array();
        index = 0;

        for (var i = 0; i < car_list.length; i++) {
            var db_date = dbDate(car_list[i].latest_expiry_date) || "-";

            if (start_date != "" && end_date != "") {
                start_date = dbDate(start_date);
                end_date = dbDate(end_date);
            }

            if ((start_date == '' && end_date == '') || (start_date <= db_date && db_date <= end_date)) {
                var plate_no = '<a href="/car_details?car_id=' + car_list[i]._id + '"> <span class="text">' + car_list[i].plate_no + '</span> </a>'
                var car_models = car_list[i].car_models
                var latest_expiry_date = dateFormat_not_time(car_list[i].latest_expiry_date) || '-'
                var customer_name = "-"
                if (car_list[i].customer_id != null) {
                    customer_name = '<a href="/customer_details?customer_id=' + car_list[i].customer_id._id + '"> <span class="text">' + car_list[i].customer_id.customer_name + '</span> </a>'
                }

                var renew_btn = '<a href="/renew_date?car_id=' + car_list[i]._id + '&customer_id=' + car_list[i].customer_id._id + '" class="btn btn-info btn-icon-split"><span class="text">Renew</span></a>'

                car_obj_row = {
                    "plate_no": plate_no,
                    "car_models": car_models,
                    "latest_expiry_date": latest_expiry_date,
                    "customer_name": customer_name,
                    "renew_btn": renew_btn,
                };

                car_JSON[index++] = car_obj_row;
            }
        }

        return car_JSON
    }

    function updateTable(car_JSON) {
        if ($.fn.dataTable.isDataTable('#dataTable')) {
            $('#dataTable').DataTable().destroy();
        }

        $('#dataTable').DataTable({
            data: car_JSON,
            columns: [
                { data: "plate_no" },
                { data: "car_models" },
                { data: "latest_expiry_date" },
                { data: "customer_name" },
                { data: "renew_btn" }
            ],
            "order": [[2, "desc"]],
            "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            "iDisplayLength": -1,
            "paging": false,
        });
    }

    $('.search_transaction_btn').click(function () {
        start_date = $('input[name="start_date"]').val();
        end_date = $('input[name="end_date"]').val();

        if (start_date == "" && end_date == "") {
            start_date = ""
            end_date = ""
        }
        else if (start_date != "" && end_date == "") {
            end_date = now
        }
        else if (start_date == "" && end_date != "") {
            start_date = init_date
        }
        else if (new Date(start_date) > new Date(end_date)) {
            alert('Invalid Date.')
            return false
        }

        updateTable(updateJSON(car_list, start_date, end_date));
    });

    function dateFormat_not_time(date) {
        formatted_date = "-"
        if (date != null && date != undefined && date != "-") {
            formatted_date = new Date(date);
            var month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var day = formatted_date.getDate();
            var month_index = formatted_date.getMonth();
            var year = new String(formatted_date.getFullYear()).slice(-2);
            formatted_date = day + '-' + month[month_index] + '-' + year;
        }

        return formatted_date;
    }

    function dbDate(date) {
        formatted_date = new Date(date);
        return +formatted_date;
    }
</script>