<%- include('topbar.ejs') %>


<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Registered Car</h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"></h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Plate No</th>
                                    <th>Model</th>
                                    <th>Insurance Exp Date</th>
                                    <th>Customer Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Plate No</th>
                                    <th>Model</th>
                                    <th>Insurance Exp Date</th>
                                    <th>Customer Name</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2020</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>

</body>

</html>

<script>
    var car_list = <%- JSON.stringify(car_list) %>;
    console.log(car_list)

    if (car_list.length > 0) {
        var count = 0;
        for (i in car_list) {
            var plate_no = '<a href="/car_details?car_id=' + car_list[i]._id + '"> <span class="text">' + car_list[i].plate_no + '</span> </a>'
            var car_models = car_list[i].car_models
            var latest_expiry_date = dateFormat_not_time(car_list[i].latest_expiry_date) || '-'
            var customer_name = "-"
            if (car_list[i].customer_id != null) {
                customer_name = '<a href="/customer_details?customer_id=' + car_list[i].customer_id._id + '"> <span class="text">' + car_list[i].customer_id.customer_name + '</span> </a>'
            }

            var renew_btn = '<a href="/renew_date?car_id=' + car_list[i]._id + '&customer_id=' + car_list[i].customer_id._id + '" class="btn btn-info btn-icon-split"><span class="text">Renew</span></a>'

            $('#dataTable tbody').append('<tr><td>' + plate_no + '</td><td>' + car_models + '</td><td>' + latest_expiry_date + '</td><td>' + customer_name + '</td><td>' + renew_btn + '</td></tr>');
        }
    }

    function dateFormat_not_time(date) {
        formatted_date = "-"
        if (date != null && date != undefined && date != "-") {
            formatted_date = new Date(date);
            var month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var day = formatted_date.getDate();
            var month_index = formatted_date.getMonth();
            var year = new String(formatted_date.getFullYear()).slice(-2);
            formatted_date = day + '-' + month[month_index] + '-' + year;
        }

        return formatted_date;
    }
</script>